$white: #fff;
$yellow: #ffd200;
$yellow-01: #ffd981;
$black: #171717;
$black-01: #000000;
$black-02: #27282d;
$black-03: #1c1c1c;
$black-04: #323a45;
$black-05: #111113;
$grey: #414144;
$grey-01: #888888;
$grey-02: #202020;
$grey-03: #525c69;
$grey-04: #98989d;
$grey-05: #ececec;
$grey-06: #5f5f5d;
$red: #f20000;
